.button1 {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffb9e4;
}

.button2 {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background-color: #6c757d;
}
.button3{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background-color: #9adde6;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button {
    margin-right: 10px;
}

.list-length {
    color:#ffb9e4;
    font-weight: bold;
}

.map-keys {
    color: #6c757d;
    font-weight: bold;
}

.list {
    padding: 0;
}

li {
    margin-bottom: 10px;
    color: #6c757d;
    font-weight: bold;
}

.list-index {
    color: #6c757d;
    font-weight: bold;
}

.list-join {
    color: #ffb9e4;
    font-weight: bold;
}

.list-append {
    color: #6c757d;
    font-weight: bold;
}

.map {
    display: flex;
    gap: 10px;
}

.map div {
    padding: 10px;
    background-color: #9adde6;
    color: #fff;
}

.map-values {
    color: #ffb9e4;
    font-weight: bold;
}
